.form{
    display: flex;
    input[type=text]{
        width: 100%;
    }
    input[type=submit]{
        transition: background-color 0.1s ease-in;
        cursor: pointer;
        background-color: $light;
        color: #fff;
        &:hover{
            background-color: $lightHover;
        }
    }
}

@media screen and (max-width: 425px){
    .form{
        input[type=submit]{
            font-size: 14px;
        }
        input[type=text]{
            font-size: 14px;
        }
    }
}