.about{
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    &:before{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: $light;
        opacity: 0.5;
    }
    img{
        width: 100%;
        height: 100%;
    }
    .about_info_block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        background-color: $dark;
        z-index: 2;
        top: 0;
        right: 0;
        width: 92%;
        height: 90%;
        padding: 50px 20px 50px 70px;
        p{
            color: #fff;
        }
        .about_top_part{
            h1{
                position: relative;
                color: $light;
                margin-bottom: 50px;
                &:after{
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    width: 160px;
                    height: 2px;
                    background-color: #fff;
                }
            }
            p{
                color: #fff;
                margin: 0 0 20px 40px;
                font-size: 1.2em;
                svg{
                    transform: translate(0, 4px);
                    color: $light;
                    margin-right: 10px;
                    font-size: 1.3em;
                }
            }
        }
        .about_bottom_part{
            .about_email{
                position: relative;
                display: flex;
                div{
                    margin-right: 5px;
                    width: 2px;
                    background-color: $light;
                }
            }
            .about_link_btn{
                transition: background-color 0.1s ease-in-out;
                width: 70px;
                height: 70px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: $light;
                color: #fff;
                font-size: 2em;
                margin: 25px 20px 0 0;
                &:hover{
                    background-color: $lightHover;
                }
            }
        }
    }
}