.navbar_background{
    position: relative;
    background-color: $dark;
    padding: 10px 0;
}
.burger.navbar{
    position: absolute;
    top: 30px;
    right: 20px;
}
.side_offset.navbar{
    .form.navbar{
        input[type=text]{
            width: 300px;
            padding: 8px;
            font-size: 16px;
        }
        input[type=submit]{
            font-size: 16px;
            padding: 0 10px;
        }
    }
}
.history_item{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    background-color: $light;
    padding: 4px;
    margin: 10px 10px 0 0;
}


@media screen and (max-width: 500px){
    .side_offset.navbar{
        .form.navbar{
            margin-top: 50px;
            input[type=text]{
                width: 100%;
            }
        }
    }
    .search_block{
        width: 100%;
    }
    .burger.navbar{
        top: 20px;
        left: 20px;
        right: 0;
    }
    
}