$loaderTextHeight: 60px;

.photo_map_block{
    height: 300px;
    position: relative;
    z-index: 1;
    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $dark;
    }
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.7;
    }
    .switcher{
        cursor: pointer;
        position: absolute;
        z-index: 2;
        bottom: 10px;
        font-size: 1.5em;
        right: 10px;
    }
}
.photo_map_block.loader{
    background-color: $loaderLight;
    position: relative;
    &:before{
        background-color: unset;
    }
}

.city_main_info{
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 20px auto 50px auto;
    h1{
        margin-right: 15px;
    }
    .weather_mini_card{ 
        padding: 10px 20px;
        display: flex;
        margin-right: 15px;
        align-items: center;
        justify-content: center;
        background-color: $dark;
        color: $light;
        .mini_card_line{
            height: 30px;
            margin: 0 10px;
            width: 4px;
            background-color: #fff;
        }
        .city_temperature{
            font-size: 1.8rem;
        }
        .city_weather_icon{
            font-size: 2em;
            svg{
                margin-top: 3px;
            }
        }
    }
}
.city_main_info.loader{
    width: 400px;
    height: $loaderTextHeight;
    background-color: $loaderLight;
}

.city_additional_info{
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    .city_additional_info_item{
        position: relative;
        h2{
            margin-right: 30px;
            color: $light;
        }
        svg{
            position: absolute;
            right: 0;
            top: 2px;
        }
        p{
            font-weight: bold;
            margin-top: 5px;
        }
        &:nth-of-type(2){
            margin: 0 20px;
        }
    }
}
.city_additional_info_item.loader{
    width: 200px;
    height: $loaderTextHeight;
    background-color: $loaderLight;
}

.no_results_block{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 90px);
    .no_results_title{
        display: flex;
        align-items: center;
        color: $light;
        svg{
            font-size: 14em;
        }
        p{
            font-size: 4em;
        }
    }
    .no_results_text{
        font-size: 1.5em;
        text-align: center;
        margin: 20px 0 0 40px;
    }
}

@media screen and (max-width: 550px){
    .photo_map_block{
        height: 200px;
        .switcher{
            font-size: 1.4em;
        }
    }

    .city_main_info{
        margin: 0;
        padding: 15px 0 15px 15px;
        background-color: $lightGray;
        width: 100%;
        h1{
            font-size: 1.1rem;
        }
        .weather_mini_card{ 
            padding: 5px 10px;
            .mini_card_line{
                height: 20px;
            }
            .city_temperature{
                font-size: 1.3rem;
            }
            .city_weather_icon{
                font-size: 1.5em;
            }
        }
    }
    .city_main_info.loader{
        width: 100%;
    }

    .city_additional_info{
        flex-direction: column;
        .city_additional_info_item{
            margin-top: 15px;
            h2{
                font-size: 1.2em;
            }
            &:nth-of-type(2){
                margin: 15px 0 0 0;
            }
        }

    }
    .city_additional_info_item.loader{
        width: 100%;
        height: 40px;
    }

    .no_results_block{
        display: block;
        height: calc(100% - 140px);
        .no_results_title{
            margin-top: 20px;
            svg{
                font-size: calc(2em + 20vmin);
            }
            p{
                font-size: calc(1em + 8vmin);
            }
        }
        .no_results_text{
            font-size: calc(0.5em + 3.5vmin);
            text-align: start;
            margin: 20px 0 0 20px;
        }
    }
}