$light: #4692BD;
$darkHover: #3b7a9e;
$lightHover: #E5F1FC;
$dark: #01020B;
$lightGray: #dddee2;
$loaderLight: #F3F3F3;
@font-face{
  font-family: Roboto;
  src: url("../fonts/Roboto.ttf");
}

@import '../../Home/home';
@import '../../City/city';
@import '../../About/about';

@import '../../shared/Form/form';
@import '../../shared/Navbar/navbar';
@import '../../shared/Burger/burger';

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Roboto;
  border: none;
  box-sizing: border-box;
  outline: none;
}

body{
  overflow: hidden;
}

img{
  object-fit: cover;
  border-style: none;
}
.app_wrapper{
  height: 100vh;
}

.side_offset{
  margin: 0 auto;
  padding: 0 1rem;
}

//Media queries
@media (min-width: 1200px) {
  .side_offset {
    max-width: 1350px;
    width: 100%;
  }
}