@import '../../Home/home';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.side_offset{
  margin: 0 auto;
  padding: 0 1rem;
}

//Media queries
@media (min-width: 768px) {
  .side_offset {
      width: 750px;
      padding: 0;
  }
}
@media (min-width: 1000px) {
  .side_offset {
      width: 970px;
  }
}
@media (min-width: 1200px) {
  .side_offset {
      width: 1170px;
  }
}