.home_wrapper {
  position: relative;
  height: 100%;
}

.home_wrapper .home_image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.side_offset.home {
  position: relative;
  height: 100%;
}

.side_offset.home .home_logo, .side_offset.home .burger.home, .side_offset.home .home_weather, .side_offset.home .home_time, .side_offset.home .form.home {
  position: absolute;
  color: #fff;
}

.side_offset.home .home_logo, .side_offset.home .burger.home {
  top: 20px;
}

.side_offset.home .home_weather, .side_offset.home .home_time {
  bottom: 20px;
}

.side_offset.home .home_logo, .side_offset.home .home_weather {
  left: 20px;
}

.side_offset.home .burger.home, .side_offset.home .home_time {
  right: 20px;
}

.side_offset.home .form.home {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.burger {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  height: 25px;
  width: 30px;
}

.burger .burger_line:nth-of-type(1) {
  -webkit-transition: top 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, transform 0.4s ease;
  transition: top 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  top: 0;
}

.burger .burger_line:nth-of-type(2) {
  -webkit-transition: top 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, transform 0.4s ease;
  transition: top 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.burger .burger_line:nth-of-type(3) {
  -webkit-transition: top 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, transform 0.4s ease;
  transition: top 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  top: 100%;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.burger:hover .burger_line:nth-of-type(1) {
  top: 48%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger:hover .burger_line:nth-of-type(2) {
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.burger:hover .burger_line:nth-of-type(3) {
  top: 48%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Roboto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto.ttf");
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.app_wrapper {
  height: 100vh;
}

.side_offset {
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 1200px) {
  .side_offset {
    max-width: 1200px;
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */