@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto.ttf");
}

.home_wrapper {
  position: relative;
  height: 100%;
}

.home_wrapper .home_image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.home_wrapper .home_logo {
  font-size: 2.2rem;
}

.home_wrapper .home_temperature {
  font-size: 4.2rem;
  margin: 0 0 -10px -4px;
}

.home_wrapper .home_city {
  position: relative;
  font-size: 1.5rem;
}

.home_wrapper .home_city .home_weather_icon {
  position: absolute;
  right: -40px;
  top: 4px;
}

.home_wrapper .home_time {
  font-size: 2.6rem;
}

.side_offset.home {
  position: relative;
  height: 100%;
}

.home_logo, .home_weather, .home_time, .form.home {
  position: absolute;
  z-index: 3;
  color: #fff;
}

.burger.home {
  position: absolute;
  color: #fff;
}

.home_logo, .burger.home {
  top: 20px;
}

.home_logo {
  margin-top: -7px;
}

.home_weather, .home_time {
  bottom: 20px;
}

.home_logo, .home_weather {
  left: 20px;
}

.burger.home, .home_time {
  right: 20px;
}

.home_time {
  margin-bottom: -7px;
}

.form.home {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
}

.form.home .text_input_block {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.form.home .text_input_block input[type=text] {
  font-size: 17px;
  padding: 15px;
}

.home_loader_block {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: #01020B;
}

.home_loader_block .animated_loader {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
}

.home_loader_block .animated_loader svg {
  position: absolute;
  color: #01020B;
  font-size: 4em;
}

.home_loader_block .animated_loader svg:nth-of-type(1) {
  top: 0px;
  right: 100px;
  -webkit-animation: cloud_1 2s ease-out infinite;
          animation: cloud_1 2s ease-out infinite;
}

.home_loader_block .animated_loader svg:nth-of-type(2) {
  top: 50px;
  right: 130px;
  -webkit-animation: cloud_2 2s ease-out 0.7s infinite;
          animation: cloud_2 2s ease-out 0.7s infinite;
}

@-webkit-keyframes cloud_1 {
  0% {
    right: 100px;
  }
  100% {
    right: -80px;
  }
}

@keyframes cloud_1 {
  0% {
    right: 100px;
  }
  100% {
    right: -80px;
  }
}

@-webkit-keyframes cloud_2 {
  0% {
    right: 130px;
  }
  100% {
    right: -70px;
  }
}

@keyframes cloud_2 {
  0% {
    right: 130px;
  }
  100% {
    right: -70px;
  }
}

.home_loader_block .animated_loader .loading_block {
  position: absolute;
  width: 95px;
  top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home_loader_block .animated_loader .loading_block .loading_dot {
  margin: 0 0 4px 5px;
  background-color: #fff;
  width: 5px;
  height: 10px;
  top: 10px;
}

.home_loader_block .animated_loader .loading_block .loading_dot:nth-of-type(1) {
  left: 10px;
}

.home_loader_block .animated_loader .loading_block .loading_dot:nth-of-type(2) {
  left: 20px;
}

.home_loader_block .animated_loader .loading_block .loading_dot:nth-of-type(3) {
  left: 30px;
}

.home_loader_block .animated_loader .loading_block .loading_dot:nth-of-type(4) {
  left: 40px;
}

.home_loader_block .animated_loader .loading_block .loading_dot:nth-of-type(2n+1) {
  -webkit-animation: dots 1s ease-in-out infinite;
          animation: dots 1s ease-in-out infinite;
}

.home_loader_block .animated_loader .loading_block .loading_dot:nth-of-type(2n) {
  -webkit-animation: dots 1s ease-in-out 0.5s infinite;
          animation: dots 1s ease-in-out 0.5s infinite;
}

@-webkit-keyframes dots {
  0% {
    height: 10px;
  }
  50% {
    height: 20px;
  }
  100% {
    height: 10px;
  }
}

@keyframes dots {
  0% {
    height: 10px;
  }
  50% {
    height: 20px;
  }
  100% {
    height: 10px;
  }
}

@media screen and (max-width: 500px) {
  .side_offset.home .home_logo {
    font-size: 1.5rem;
    top: 25px;
  }
  .side_offset.home .home_temperature {
    font-size: 2.5rem;
    margin: 0 0 -5px -4px;
  }
  .side_offset.home .home_city {
    position: relative;
    font-size: 1rem;
  }
  .side_offset.home .home_city .home_weather_icon {
    position: absolute;
    right: -25px;
    top: 1px;
  }
  .side_offset.home .home_time {
    font-size: 1.6rem;
    margin-bottom: -2px;
  }
}

.city_photo {
  height: 300px;
  position: relative;
  z-index: 1;
}

.city_photo.loader {
  background-color: #F3F3F3;
  position: relative;
}

.city_photo.loader:before {
  background-color: unset;
}

.city_main_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px auto 50px auto;
  padding: 0 15px;
}

.city_main_info h1 {
  margin-right: 15px;
  font-size: 1.5em;
}

.city_main_info .weather_mini_card {
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #01020B;
  color: #4692BD;
}

.city_main_info .weather_mini_card .mini_card_line {
  height: 30px;
  margin: 0 10px;
  width: 4px;
  background-color: #fff;
}

.city_main_info .weather_mini_card .city_temperature {
  font-size: 1.8rem;
}

.city_main_info .weather_mini_card .city_weather_icon {
  font-size: 2em;
}

.city_main_info .weather_mini_card .city_weather_icon svg {
  margin-top: 5px;
}

.city_main_info.loader {
  width: 400px;
  height: 60px;
  background-color: #F3F3F3;
}

.city_additional_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.city_additional_info .city_additional_info_item {
  position: relative;
}

.city_additional_info .city_additional_info_item h2 {
  margin-right: 30px;
  color: #4692BD;
}

.city_additional_info .city_additional_info_item svg {
  position: absolute;
  right: 0;
  top: 2px;
}

.city_additional_info .city_additional_info_item p {
  font-weight: bold;
  margin-top: 5px;
}

.city_additional_info .city_additional_info_item:nth-of-type(2) {
  margin: 0 20px;
}

.city_additional_info_item.loader {
  width: 200px;
  height: 60px;
  background-color: #F3F3F3;
}

.no_results_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100% - 90px);
}

.no_results_block .no_results_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4692BD;
}

.no_results_block .no_results_title svg {
  font-size: 14em;
}

.no_results_block .no_results_title p {
  font-size: 4em;
}

.no_results_block .no_results_text {
  font-size: 1.5em;
  text-align: center;
  margin: 20px 0 0 40px;
}

@media screen and (max-width: 550px) {
  .city_photo {
    height: 200px;
  }
  .city_main_info {
    margin: 0;
    padding: 15px;
    background-color: #dddee2;
    width: 100%;
  }
  .city_main_info h1 {
    font-size: 1.1rem;
  }
  .city_main_info .weather_mini_card {
    padding: 5px 10px;
  }
  .city_main_info .weather_mini_card .mini_card_line {
    height: 20px;
  }
  .city_main_info .weather_mini_card .city_temperature {
    font-size: 1.3rem;
  }
  .city_main_info .weather_mini_card .city_weather_icon {
    font-size: 1.5em;
  }
  .city_main_info.loader {
    width: 100%;
  }
  .city_additional_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .city_additional_info .city_additional_info_item {
    margin-top: 15px;
  }
  .city_additional_info .city_additional_info_item h2 {
    font-size: 1.2em;
  }
  .city_additional_info .city_additional_info_item:nth-of-type(2) {
    margin: 15px 0 0 0;
  }
  .city_additional_info_item.loader {
    width: 100%;
    height: 40px;
  }
  .no_results_block {
    display: block;
    height: calc(100% - 140px);
  }
  .no_results_block .no_results_title {
    margin-top: 20px;
  }
  .no_results_block .no_results_title svg {
    font-size: calc(2em + 20vmin);
  }
  .no_results_block .no_results_title p {
    font-size: calc(1em + 8vmin);
  }
  .no_results_block .no_results_text {
    font-size: calc(0.5em + 3.5vmin);
    text-align: start;
    margin: 20px 0 0 20px;
  }
}

.about {
  -webkit-transition: -webkit-clip-path 0.5s ease-in-out;
  transition: -webkit-clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out;
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  -webkit-clip-path: inset(0 0 100% 0);
          clip-path: inset(0 0 100% 0);
}

.about:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #4692BD;
  opacity: 0.5;
}

.about img {
  width: 100%;
  height: 100%;
}

.about .about_info_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  background-color: #01020B;
  z-index: 2;
  top: 0;
  right: 0;
  width: 92%;
  height: 90%;
  padding: 70px 20px 50px 70px;
}

.about .about_info_block p {
  color: #fff;
}

.about .about_info_block .about_top_part h1 {
  position: relative;
  color: #4692BD;
  margin-bottom: 50px;
}

.about .about_info_block .about_top_part h1:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 160px;
  height: 2px;
  background-color: #fff;
}

.about .about_info_block .about_top_part .about_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  margin: 0 0 20px 40px;
  font-size: 1.2em;
}

.about .about_info_block .about_top_part .about_item .about_item_icon {
  width: 30px;
  margin-right: 10px;
}

.about .about_info_block .about_top_part .about_item svg {
  -webkit-transform: translate(0, -4px);
          transform: translate(0, -4px);
  color: #4692BD;
  font-size: 28px;
}

.about .about_info_block .about_bottom_part .about_email {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .about_info_block .about_bottom_part .about_email div {
  margin-right: 5px;
  width: 2px;
  background-color: #4692BD;
}

.about .about_info_block .about_bottom_part .about_link_btn {
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
  width: 70px;
  height: 70px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4692BD;
  color: #fff;
  font-size: 2em;
  margin: 25px 20px 0 0;
}

.about .about_info_block .about_bottom_part .about_link_btn:hover {
  background-color: #E5F1FC;
}

@media screen and (max-width: 700px) {
  .about img {
    display: none;
  }
  .about .about_info_block {
    width: 100%;
    height: 100%;
    padding: 70px 20px 50px 20px;
  }
  .about .about_info_block p {
    color: #fff;
  }
  .about .about_info_block .about_top_part .about_item {
    margin: 0 0 20px 0;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form .text_input_block {
  position: relative;
}

.form .text_input_block .suggestions {
  position: absolute;
  z-index: 2;
  top: calc(100% + 5px);
  width: 100%;
  color: #000;
}

.form .text_input_block .suggestions .suggestion {
  position: relative;
  background-color: #fff;
  padding: 15px 10px 15px 30px;
  border-bottom: 1px solid #dddee2;
  border-bottom: 1px solid #dddee2;
  cursor: pointer;
}

.form .text_input_block .suggestions .suggestion:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: -1px;
  width: 10px;
  left: 0;
  background-color: unset;
}

.form .text_input_block .suggestions .suggestion:hover {
  background-color: #E5F1FC;
}

.form .text_input_block .suggestions .suggestion:hover:before {
  background-color: #4692BD;
}

.form .text_input_block .suggestions .suggestion_no_results {
  position: relative;
  background-color: #fff;
  padding: 15px 10px 15px 30px;
  border-bottom: 1px solid #dddee2;
}

.form input[type=text] {
  position: relative;
  width: 100%;
}

.small_loader_wrapper {
  position: absolute;
  z-index: 2;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 50%;
  right: 20px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 1.7em;
}

.small_loader_wrapper .small_loader {
  position: relative;
}

.small_loader_wrapper .small_loader .loader_icon_dark, .small_loader_wrapper .small_loader .loader_icon_light {
  top: -14px;
  left: -14px;
  position: absolute;
}

.small_loader_wrapper .small_loader .loader_icon_dark {
  -webkit-transition: -webkit-clip-path ease-in-out;
  transition: -webkit-clip-path ease-in-out;
  transition: clip-path ease-in-out;
  transition: clip-path ease-in-out, -webkit-clip-path ease-in-out;
  color: #01020B;
}

.small_loader_wrapper .small_loader .loader_icon_dark:nth-of-type(1) {
  z-index: 1;
  -webkit-animation: 1.2s loader_icon_dark_1 ease-in-out infinite;
          animation: 1.2s loader_icon_dark_1 ease-in-out infinite;
}

.small_loader_wrapper .small_loader .loader_icon_dark:nth-of-type(2) {
  z-index: 1;
  -webkit-animation: 1.2s loader_icon_dark_2 ease-in-out infinite;
          animation: 1.2s loader_icon_dark_2 ease-in-out infinite;
}

.small_loader_wrapper .small_loader .loader_icon_light {
  color: #4692BD;
}

@-webkit-keyframes loader_icon_dark_1 {
  0% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
  25% {
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
  }
  50% {
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
  }
  100% {
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
  }
}

@keyframes loader_icon_dark_1 {
  0% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
  25% {
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
  }
  50% {
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
  }
  100% {
    -webkit-clip-path: inset(0 0 0 100%);
            clip-path: inset(0 0 0 100%);
  }
}

@-webkit-keyframes loader_icon_dark_2 {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  25% {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  50% {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  75% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
  100% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@keyframes loader_icon_dark_2 {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  25% {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  50% {
    -webkit-clip-path: inset(0 100% 0 0);
            clip-path: inset(0 100% 0 0);
  }
  75% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
  100% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
}

@media screen and (max-width: 425px) {
  .form input[type=text] {
    font-size: 14px;
  }
}

.navbar_background {
  position: relative;
  background-color: #01020B;
  padding: 20px 0;
}

.burger.navbar {
  position: absolute;
  z-index: 5;
  top: 25px;
  right: 20px;
}

.side_offset.navbar .form.navbar input[type=text] {
  width: 400px;
  padding: 10px 40px 10px 10px;
  font-size: 0.9em;
}

@media screen and (max-width: 500px) {
  .side_offset.navbar .form.navbar {
    margin-top: 50px;
  }
  .side_offset.navbar .form.navbar input[type=text] {
    width: 100%;
  }
  .side_offset.navbar .text_input_block {
    width: 100%;
  }
  .search_block {
    width: 100%;
  }
  .burger.navbar {
    top: 20px;
    left: 20px;
    right: 0;
  }
}

.burger {
  overflow: hidden;
  cursor: pointer;
  z-index: 4;
  position: relative;
  height: 25px;
  width: 30px;
}

.burger .burger_line:nth-of-type(1) {
  -webkit-transition: top 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, transform 0.4s ease;
  transition: top 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  top: 0;
}

.burger .burger_line:nth-of-type(2) {
  -webkit-transition: top 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, transform 0.4s ease;
  transition: top 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.burger .burger_line:nth-of-type(3) {
  -webkit-transition: top 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, transform 0.4s ease;
  transition: top 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #fff;
  top: 100%;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.burger_clicked .burger_line:nth-of-type(1) {
  top: 48%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger_clicked .burger_line:nth-of-type(2) {
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.burger_clicked .burger_line:nth-of-type(3) {
  top: 48%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Roboto;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  border-style: none;
}

.app_wrapper {
  height: 100vh;
}

.side_offset {
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 1200px) {
  .side_offset {
    max-width: 1350px;
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */